{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
<nav>
            <a href="/">Главная</a>
        </nav>
        <article class="card container fluid">
        <br>
            <h1>ID: {{user.id}} </h1>

            <h3>Name: {{user.username}}</h3>
            <h3>Age: {{user.age}}</h3>


        </article>
        <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                         {% for user in users %}
                        <li>
                            <a href="/user/{{user.id}}">{{user.username}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}